<div class="container">
  <h1 style="display: inline-block;">Search&nbsp;</h1>
  <input ng-keyup="search($event)" type="text" ng-model="searchAlbum" placeholder="Search Album" required>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 card" ng-repeat="value in result">
      <a ng-click="navigateTo(value)">
        <img src="{{value.images[0].url}}" style="width: 50px; height: 50px;" alt="Avatar">
      </a>
      <div class="container">
        <b>Album:</p>
        <h5><p>{{value.name | limitTo:25}}</b></h5>
        <div>
        <h5>Artist:</h5>
        <ul>
          <li ng-repeat="artist in value.artists"><a ng-click="navigateToArtist(artist)">{{artist.name | limitTo:25}}</a></li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>
