<div class="container">
  <h1>Album or Artist</h1>
  <input ng-keyup="search($event)" type="text" ng-model="searchAlbum" placeholder="Album Example" required>
  <p><a class="btn btn-lg btn-success" ng-click="search($event)" >Search!<span class="glyphicon glyphicon-ok"></span></a></p>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 card" ng-repeat="value in result">
      <img src="{{value.images[0].url}}" style="width: 100px; height: 100px;" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><b>Album: {{value.name}}</b></h4>
        <div>
        Artist:
        <ul>
          <li ng-repeat="artist in value.artists">{{artist.name}}</li> 
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>
